.filter-link {
  background: var(--default-button-bg);
  border-radius: 4px;
  padding: 5px;
  color: var(--default-button-color);
  margin-right: 10px;
  text-align: center;
  font-weight: bold;
  flex: 0 1 10%;
}

.filter-link:hover {
  background: var(--default-button-bg-highlight);
}

.filter-link.active-link {
  background: var(--default-button-bg-highlight);
  cursor: default;
}
