.filter-link {
  background: #DBC7C7;
  border-radius: 4px;
  padding: 5px;
  color: #222;
  margin-right: 10px;
  text-align: center;
  font-weight: bold;
  flex: 0 1 10%;
}

.filter-link:hover {
  background: #C49191;
}
