.no-gutters > [class*="col-"] {
  padding-right: 10px;
  margin-left: 0;
}

.skill__table__header {
  border-bottom: 1px solid var(--main-text-color);
  border-top: 1px solid var(--main-text-color);
  margin-bottom: 0.5em;
  line-height: 40px;
  height: 40px;
}
