.button {
  margin-right: 0.5em;
  padding: 0.4em;
  border: none;
  font-weight: bold;
}

.button.normal {
  min-width: 75px;
  border-radius: 4px;
}

.button.default {
  background: var(--default-button-bg);
  color: var(--default-button-color);
}

.button.default:hover {
  background: var(--default-button-bg-highlight);
}

/* Drop shadow true */
.button.drop-shadow {
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Different sizes */
.button.extra-large {
  height: 135px;
  border-radius: 10px;
  font-size: 2em;
  padding: 0;
}

.button.large {
  height: 75px;
  border-radius: 10px;
  font-size: 1.5em;
  padding: 0;
}

/* Different colors */
.button.highlight {
  background: var(--highlight-button-bg);
  color: var(--highlight-button-color);
}

.button.highlight:hover {
  background: var(--highlight-button-bg-hover);
  color: var(--highlight-button-color-hover);
}

.button.dark {
  background: var(--dark-button-bg);
  color: var(--dark-button-color);
}

.button.dark:hover {
  background: var(--dark-button-bg-hover);
  color: var(--dark-button-color-hover);
}
