body {
    font-family: 'Abel';
    background: url('./images/oota.jpg') no-repeat #222;
    font-size: 17px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Homenaje';
  color: #8E6C6C;
}

aside, main {
  margin: 20px 0;
}

.authentication {
  color: #DBC7C7;
  cursor: pointer;
}


/**
  Variables
**/
:root {
  --main-bg-color: #1C1919;
  --highlight-bg-color: #8E3E3E;
  --main-text-color: #DBC7C7;
  --dark-text-color: #191515;
  --default-button-color: #222;
  --default-button-bg: #DBC7C7;
  --default-button-bg-highlight: #C49191;
}

/**
  Overriding Bootstrap classes
**/
.container-fluid {
  margin: 0;
  padding: 0;
}

/**
  Modal
**/
.modal .modal-content {
  background: #111;
}

.modal .modal-content .modal-header {
  border-bottom: none;
}

.modal .modal-content .modal-header button.close {
  color: white;
  text-shadow: 0 1px 0 #1C1919;
}

.modal .modal-content .modal-header button.close:hover {
  color: white;
  text-shadow: 0 1px 0 #1C1919;
}

.modal .modal-content .modal-header .modal-title {
  color: #DBC7C7;
}

.modal .modal-content .modal-footer {
  border-top: none;
}

/**
  Navigation
**/
.navbar {
  font-family: 'Abel';
  background: #5E3232;
}

.navbar a, .navbar a:visited, .navbar-light .navbar-nav .nav-link {
  color: #DBC7C7;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:hover {
  color: #8E6C6C;
}

.popover-header {
    min-width: 250px;
    color: white;
    font-family: 'Homenaje';
    font-size: 34px;
    line-height: 30px;
}

.popover-header span {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 0;
}

.popover-content {
    color: red;
    font-size: 10px;
}

/**
  Utility classes
**/
.spinner {
  text-align: center;
  margin-top: 20px;
}
